

<div class="d-flex w-100 justify-content-between align-items-start">
  <h5 class="mb-1 text-break" *ngIf="!isEditableDevice" (dblclick)="makeEditableDevice()">
    {{ device.name || device.address.value }}
  </h5>
  <input class="form-control" [hidden]="!isEditableDevice" #rename
    [(ngModel)]="device.newName"
    (keyup)="saveRenameDeviceKey($event)">
  <span class="badge badge-secondary" *ngIf="device.isConnected">Connected</span>
</div>

<div>

</div>
<div><small>Address: {{ device.address.value }}</small></div>
<div *ngIf="device.uptime"><small>Uptime: {{ device.uptime }}</small></div>
<div><small>Download: {{ device.transferData.tx.humanValue }}</small></div>
<div><small>Upload: {{ device.transferData.rx.humanValue }}</small></div>

<div *ngIf="device.id" class="mt-1">
  <button class="btn btn-light btn-sm"
          *ngIf="!isEditableDevice" (click)="makeEditableDevice()">
    <span class="fas fa-edit"></span> Rename
  </button>
  <button class="btn btn-secondary btn-sm"
          *ngIf="isEditableDevice" (click)="saveRenameDevice()">
    <span class="fas fa-save"></span> Save
  </button>
</div>
