

<p>Address: {{ device.address.value }}</p>
<p *ngIf="device.uptime">Uptime: {{ device.uptime }}</p>
<p>Download: {{ device.transferData.tx.humanValue }}</p>
<p>Upload: {{ device.transferData.rx.humanValue }}</p>

<mat-form-field [hidden]="!isEditableDevice">
  <input matInput placeholder="Rename device" #rename
         [(ngModel)]="device.newName"
         (keyup)="saveRenameDeviceKey($event)">
</mat-form-field>

<mat-action-row>
  <button mat-stroked-button
          *ngIf="!isEditableDevice" (click)="makeEditableDevice()">
    <span class="fas fa-edit"></span> Rename
  </button>
  <button mat-stroked-button
          *ngIf="isEditableDevice" (click)="saveRenameDevice()">
    <span class="fas fa-save"></span> Save
  </button>
</mat-action-row>
