

<mat-card>
  <mat-card-header>
    <mat-card-title>{{ person.name }}</mat-card-title>
    <mat-card-subtitle>{{ person.address.value }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-accordion multi="true">
      <mat-expansion-panel *ngFor="let device of person.devices"
                     [hidden]="showConnectedOnly && !device.isConnected">

        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ device.name || device.address.value }}
            <span></span>
          </mat-panel-title>

        </mat-expansion-panel-header>

        <app-device [device]="device"></app-device>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>

  <mat-card-actions *ngIf="!person.id && !!person.address.segments">
    <button mat-stroked-button color="primary" (click)="registerPerson()">
      <span class="fas" [ngClass]="{'fa-save': !person.isRegistering,
               'fa-spinner fa-spin': person.isRegistering}"></span>
      Register
    </button>
  </mat-card-actions>
</mat-card>
