<div class="container mt-5">
  <h3 class="mb-3">People</h3>

  <div class="row mb-3">
    <div class="col">
      <mat-checkbox color="primary"
                    [(ngModel)]="showConnectedOnly"
                    (change)="updateConnectedOnlyCheckbox()">
        Show connected only
      </mat-checkbox>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-lg-4 col-xl-3 mb-3" *ngFor="let person of people;"
         [hidden]="showConnectedOnly && !isConnectedPerson(person)">
      <app-person [person]="person" [showConnectedOnly]="showConnectedOnly"></app-person>
    </div>
  </div>
</div>
